@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

body{
   text-align: center;
   margin: auto;
   background-color: lightcyan;
   font-family: 'Roboto', sans-serif;

}

#quiz-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

#output{
    font-weight: bolder;
}

#check{
    padding: 0.5rem;
    margin-bottom: 2rem;
    background-color: lightgoldenrodyellow;
    border: 1px solid black;
    cursor: pointer;

}

#check:hover{
    font-weight: bold;
}

#check2{
    width: 10%;
    margin: auto;
    padding: 0.3rem;
    background-color: lightgoldenrodyellow;
    border: 1px solid black;
    cursor: pointer;
    margin-bottom: 2rem;


}

#check2:hover{
    font-weight: bold;

}

.angles{
    background-color: lightgoldenrodyellow;
    padding: 0.5rem;
    margin:2rem
}

label{
    font-weight: bold;
}

#hyp{
    display: flex;
    flex-direction: column;
    margin: auto;

}

#check{
    width: 10%;
    margin: auto;
    padding: 0.3rem;
    background-color: lightgoldenrodyellow;
    border: 1px solid black;
    cursor: pointer;
    margin-bottom: 2rem;
    margin-top: 2rem;


}

#check:hover{
    font-weight: bold;

}

#angle1, #angle2{
    padding: 0.3rem;
    background-color: lightgoldenrodyellow;
    margin: 1rem;
    border: 1px solid black;
}

#output{
    padding: 1rem;
}